# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/

# Dataset
src/data/dataset/*
!src/data/dataset/.gitkeep

# Model files
*.h5
*.pkl

# IDE
.vscode/
.idea/

# Misc
.DS_Store